{# delete confirm#}
<div id="{{ modal_id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <a href="{{ url }}" class="btn btn-danger">Delete</a>
    <a href="#" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Cancel</a>
  </div>
</div>